// You can add global styles to this file, and also import other style files

body {
  // margin-bottom: 10px;
  // margin-top: 15px;
  height: 100%;
}

.input-group {
  margin-bottom: 15px;
}
.bg {
  /* The image used */
  background-image: url(./assets/pile-books-pencils-desk.jpg);
  // background-color: aquamarine;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
